<a href="https://colab.research.google.com/github/Rociolivingstonux/Pre-entrega-Python/blob/main/Pre_Entrega_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  **1** **Pre Entrega -**
## 1锔  **Importaci贸n de Datos**

In [3]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import os
os.listdir("/content/drive/MyDrive/DataSets")

['netflix_titles.csv.csv',
 'ventas.csv',
 'marketing.csv',
 'clientes.csv',
 'ventas.xlsx']

In [6]:
pd.read_csv('/content/drive/MyDrive/DataSets/clientes.csv')
df_clientes = pd.read_csv('/content/drive/MyDrive/DataSets/clientes.csv')

pd.read_csv('/content/drive/MyDrive/DataSets/marketing.csv')
df_marketing = pd.read_csv('/content/drive/MyDrive/DataSets/marketing.csv')

pd.read_csv('/content/drive/MyDrive/DataSets/ventas.csv')
df_ventas = pd.read_csv('/content/drive/MyDrive/DataSets/ventas.csv')

# 2锔 - **Introducci贸n a Pandas: Realizar un an谩lisis exploratorio de los** **DataFrames**.

In [21]:

print("Analisis exploratorio de Clientes")

print("Primeras Filas: clientes")
print(df_clientes.head())

print("ltimas Filas: Clientes")
print(df_clientes.tail())

print("\nEstadisticas Descriptivas:")
print(df_clientes.describe())

print("Informaci贸n Clientes")
print("\nDimensiones Filas/Columnas:", df_clientes.shape)
print("\nInformaci贸n del DataFrame:")
print(df_clientes.info())

print("\nTipo de Datos:")
print(df_clientes.dtypes)

print("\nCantidad de Nulos:")
print(df_clientes.isnull().sum())

print("Analisis exploratorio de Ventas")

print("Primeras Filas: Ventas")
print(df_ventas.head())

print("ltimas Filas: Ventas")
print(df_ventas.tail())

print("\nEstadisticas Descriptivas:")
print(df_ventas.describe())

print("Informaci贸n Ventas")
print("\nDimensiones Filas/Columnas:", df_ventas.shape)
print("\nInformaci贸n del DataFrame:")
print(df_ventas.info())

print("\nTipo de Datos:")
print(df_ventas.dtypes)

print("\nCantidad de Nulos:")
print(df_ventas.isnull().sum())


print("Analisis exploratorio de Marketing")

print("Primeras Filas: Marketing")
print(df_marketing.head())

print("ltimas Filas: Marketing")
print(df_marketing.tail())

print("\nEstadisticas Descriptivas:")
print(df_marketing.describe())

print("Informaci贸n Marketing")
print("\nDimensiones Filas/Columnas:", df_marketing.shape)
print("\nInformaci贸n del DataFrame:")
print(df_marketing.info())

print("\nTipo de Datos:")
print(df_marketing.dtypes)

print("\nCantidad de Nulos:")
print(df_marketing.isnull().sum())

Analisis exploratorio de Clientes
Primeras Filas: clientes
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bah铆a Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65
ltimas Filas: Clientes
     id_cliente           nombre  edad       ciudad  ingresos
562         563    Dione Forsyde    29      Posadas  26757.73
563         564      Fleming Gow    39     Santa Fe  43674.96
564         565  Jewelle Mabbett    33      C贸rdoba  30522.64
565         566      Lauri Munns    23  Resistencia  31259.14
566         567      Micah Matis    31   Corrientes  42927.86

Estadisticas Descriptivas:
       id_cliente        edad      ingresos
count  567.000000  567.000000    567.000000
mean   284.000000   37.940035  34668.739012
std    163.823075   10.202885  12974.531446
min      1.000000   20.000000    170.290000
25%    142.500000   30.000000  26015.240000
50%    284.000000   37.000000  35066.830000
75%    425.500000   43.000000  42457.100000
max    567.000000   81.000000  88053.010000
Informaci贸n Clientes

Dimensiones Filas/Columnas: (567, 5)

Informaci贸n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
None

Tipo de Datos:
id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object

Cantidad de Nulos:
id_cliente    0
nombre        0
edad          0
ciudad        0
ingresos      0
dtype: int64
Analisis exploratorio de Ventas
Primeras Filas: Ventas
   id_venta           producto   precio  cantidad fecha_venta  \
0       792  Cuadro decorativo   $69.94       5.0  02/01/2024
1       811    L谩mpara de mesa  $105.10       5.0  02/01/2024
2      1156           Secadora   $97.96       3.0  02/01/2024
3      1372           Heladera  $114.35       8.0  02/01/2024
4      1546           Secadora  $106.21       4.0  02/01/2024

           categoria
0         Decoraci贸n
1         Decoraci贸n
2  Electrodom茅sticos
3  Electrodom茅sticos
4  Electrodom茅sticos
ltimas Filas: Ventas
      id_venta                producto   precio  cantidad fecha_venta  \
3030      1837         Horno el茅ctrico  $104.12       9.0  30/12/2024
3031      2276                  Laptop   $85.27       9.0  30/12/2024
3032      2696                  Laptop  $107.81       4.0  30/12/2024
3033      2913              Smartphone   $99.85       7.0  30/12/2024
3034      2930  Consola de videojuegos   $55.47       6.0  30/12/2024

              categoria
3030  Electrodom茅sticos
3031        Electr贸nica
3032        Electr贸nica
3033        Electr贸nica
3034        Electr贸nica

Estadisticas Descriptivas:
          id_venta     cantidad
count  3035.000000  3033.000000
mean   1499.851400     6.496538
std     866.465379     3.457250
min       1.000000     1.000000
25%     748.500000     3.000000
50%    1502.000000     7.000000
75%    2249.500000     9.000000
max    3000.000000    12.000000
Informaci贸n Ventas

Dimensiones Filas/Columnas: (3035, 6)

Informaci贸n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3035 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB
None

Tipo de Datos:
id_venta         int64
producto        object
precio          object
cantidad       float64
fecha_venta     object
categoria       object
dtype: object

Cantidad de Nulos:
id_venta       0
producto       0
precio         2
cantidad       2
fecha_venta    0
categoria      0
dtype: int64
Analisis exploratorio de Marketing
Primeras Filas: Marketing
   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1           12           Tablet   RRSS   3.40   26/03/2024  13/05/2024
2           32  L谩mpara de mesa  Email   5.54   28/03/2024  20/04/2024
3           21       Smartphone   RRSS   6.37   29/03/2024  16/05/2024
4           58         Alfombra  Email   4.25   31/03/2024  05/05/2024
ltimas Filas: Marketing
    id_campanha            producto  canal  costo fecha_inicio   fecha_fin
85           70          Aspiradora     TV   3.06   13/12/2024  29/12/2024
86           89           Televisor     TV   4.98   13/12/2024    8/2/2025
87           68   Rinc贸n de plantas     TV   5.81   17/12/2024   14/2/2025
88           33            Secadora  Email   3.80   20/12/2024    7/1/2025
89           11  Freidora el茅ctrica   RRSS   5.27   29/12/2024   21/1/2025

Estadisticas Descriptivas:
       id_campanha      costo
count    90.000000  90.000000
mean     45.500000   4.928667
std      26.124701   0.947750
min       1.000000   2.950000
25%      23.250000   4.372500
50%      45.500000   4.900000
75%      67.750000   5.562500
max      90.000000   7.390000
Informaci贸n Marketing

Dimensiones Filas/Columnas: (90, 6)

Informaci贸n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     object
 5   fecha_fin     90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.3+ KB
None

Tipo de Datos:
id_campanha       int64
producto         object
canal            object
costo           float64
fecha_inicio     object
fecha_fin        object
dtype: object

Cantidad de Nulos:
id_campanha     0
producto        0
canal           0
costo           0
fecha_inicio    0
fecha_fin       0
dtype: int64

# 3锔 - **Calidad de Datos**

In [7]:
# eliminaci贸n de datos nulos
print("DataFrame sin nulos")
print(df_clientes.dropna())

# rellenar nulos [con tu criterio]
print("\nRellenar nulos con 0/")
print(df_clientes.fillna(0))

# Eliminar columna
print("\nColumna sin precio/")
print(df_ventas.drop('precio', axis=1).head())

# Eliminar duplicados
print("\nEliminar duplicados:/")
print(df_ventas.drop_duplicates())

DataFrame sin nulos
     id_cliente               nombre  edad         ciudad  ingresos
0             1      Aloysia Screase    44  Mar del Plata  42294.68
1             2  Kristina Scaplehorn    25        Posadas  24735.04
2             3       Filip Castagne    50    Resistencia  35744.85
3             4          Liuka Luard    39   Bah铆a Blanca  27647.96
4             5        Dore Cockshtt    28        Rosario  28245.65
..          ...                  ...   ...            ...       ...
562         563        Dione Forsyde    29        Posadas  26757.73
563         564          Fleming Gow    39       Santa Fe  43674.96
564         565      Jewelle Mabbett    33        C贸rdoba  30522.64
565         566          Lauri Munns    23    Resistencia  31259.14
566         567          Micah Matis    31     Corrientes  42927.86

[567 rows x 5 columns]

Rellenar nulos con 0/
     id_cliente               nombre  edad         ciudad  ingresos
0             1      Aloysia Screase    44  Mar del Plata  42294.68
1             2  Kristina Scaplehorn    25        Posadas  24735.04
2             3       Filip Castagne    50    Resistencia  35744.85
3             4          Liuka Luard    39   Bah铆a Blanca  27647.96
4             5        Dore Cockshtt    28        Rosario  28245.65
..          ...                  ...   ...            ...       ...
562         563        Dione Forsyde    29        Posadas  26757.73
563         564          Fleming Gow    39       Santa Fe  43674.96
564         565      Jewelle Mabbett    33        C贸rdoba  30522.64
565         566          Lauri Munns    23    Resistencia  31259.14
566         567          Micah Matis    31     Corrientes  42927.86

[567 rows x 5 columns]

Columna sin precio/
   id_venta           producto  cantidad fecha_venta          categoria
0       792  Cuadro decorativo       5.0  02/01/2024         Decoraci贸n
1       811    L谩mpara de mesa       5.0  02/01/2024         Decoraci贸n
2      1156           Secadora       3.0  02/01/2024  Electrodom茅sticos
3      1372           Heladera       8.0  02/01/2024  Electrodom茅sticos
4      1546           Secadora       4.0  02/01/2024  Electrodom茅sticos

Eliminar duplicados:/
      id_venta                producto   precio  cantidad fecha_venta  \
0          792       Cuadro decorativo   $69.94       5.0  02/01/2024
1          811         L谩mpara de mesa  $105.10       5.0  02/01/2024
2         1156                Secadora   $97.96       3.0  02/01/2024
3         1372                Heladera  $114.35       8.0  02/01/2024
4         1546                Secadora  $106.21       4.0  02/01/2024
...        ...                     ...      ...       ...         ...
3030      1837         Horno el茅ctrico  $104.12       9.0  30/12/2024
3031      2276                  Laptop   $85.27       9.0  30/12/2024
3032      2696                  Laptop  $107.81       4.0  30/12/2024
3033      2913              Smartphone   $99.85       7.0  30/12/2024
3034      2930  Consola de videojuegos   $55.47       6.0  30/12/2024

              categoria
0            Decoraci贸n
1            Decoraci贸n
2     Electrodom茅sticos
3     Electrodom茅sticos
4     Electrodom茅sticos
...                 ...
3030  Electrodom茅sticos
3031        Electr贸nica
3032        Electr贸nica
3033        Electr贸nica
3034        Electr贸nica

[3000 rows x 6 columns]

#Ч **Procesamiento de Datos y Limpieza de Datos**.

# 4锔 - *Limpieza de Datos*

In [75]:
# En este caso, el DataFrame raw, contaba con 3035 columnas dentro de la tabla. Y con la transformaci贸n y limpieza de datos eliminamos duplicados con .drop_duplicates()
# Tambi茅n implementamos el quitado de espacio " " innecesario
df_ventas_limpio = df_ventas.copy()
df_ventas_limpio = df_ventas_limpio.drop_duplicates()
df_ventas_limpio["producto"] = df_ventas_limpio["producto"].str.strip()
df_ventas_limpio["producto"] = df_ventas_limpio["producto"].str.replace("Producto", "")

print(df_ventas_limpio)
print(df_ventas)

      id_venta                producto   precio  cantidad fecha_venta  \
0          792       Cuadro decorativo   $69.94       5.0  02/01/2024
1          811         L谩mpara de mesa  $105.10       5.0  02/01/2024
2         1156                Secadora   $97.96       3.0  02/01/2024
3         1372                Heladera  $114.35       8.0  02/01/2024
4         1546                Secadora  $106.21       4.0  02/01/2024
...        ...                     ...      ...       ...         ...
3030      1837         Horno el茅ctrico  $104.12       9.0  30/12/2024
3031      2276                  Laptop   $85.27       9.0  30/12/2024
3032      2696                  Laptop  $107.81       4.0  30/12/2024
3033      2913              Smartphone   $99.85       7.0  30/12/2024
3034      2930  Consola de videojuegos   $55.47       6.0  30/12/2024

              categoria
0            Decoraci贸n
1            Decoraci贸n
2     Electrodom茅sticos
3     Electrodom茅sticos
4     Electrodom茅sticos
...                 ...
3030  Electrodom茅sticos
3031        Electr贸nica
3032        Electr贸nica
3033        Electr贸nica
3034        Electr贸nica

[3000 rows x 6 columns]
      id_venta                producto   precio  cantidad fecha_venta  \
0          792       Cuadro decorativo   $69.94       5.0  02/01/2024
1          811         L谩mpara de mesa  $105.10       5.0  02/01/2024
2         1156                Secadora   $97.96       3.0  02/01/2024
3         1372                Heladera  $114.35       8.0  02/01/2024
4         1546                Secadora  $106.21       4.0  02/01/2024
...        ...                     ...      ...       ...         ...
3030      1837         Horno el茅ctrico  $104.12       9.0  30/12/2024
3031      2276                  Laptop   $85.27       9.0  30/12/2024
3032      2696                  Laptop  $107.81       4.0  30/12/2024
3033      2913              Smartphone   $99.85       7.0  30/12/2024
3034      2930  Consola de videojuegos   $55.47       6.0  30/12/2024

              categoria
0            Decoraci贸n
1            Decoraci贸n
2     Electrodom茅sticos
3     Electrodom茅sticos
4     Electrodom茅sticos
...                 ...
3030  Electrodom茅sticos
3031        Electr贸nica
3032        Electr贸nica
3033        Electr贸nica
3034        Electr贸nica

[3035 rows x 6 columns]

## **5锔 Transformaci贸n de datos**

In [ ]:
# TODO: Aplicar filtros y transformaciones para crear una tabla de ventas
# que muestre solo los productos con alto rendimiento. calcular el percentil 80
# y filtrar los productos que superen ese umbral en ventas.
#quantile(0.8)
# Sugerencia: usar .query() o condiciones con operadores l贸gicos.

## **6锔 Agregaci贸n de datos**

In [ ]:
# TODO: Resumir las ventas por categor铆a de producto y analizar los ingresos generados.
# Sugerencia: usar .groupby() y .agg() para generar m茅tricas como suma y promedio.

## 7锔 **Integraci贸n de datos**

In [ ]:
# TODO: Combinar los sets de datos de ventas y marketing para obtener una visi贸n m谩s amplia de las tendencias.
# Sugerencia: usar pd.merge() especificando la clave com煤n entre ambos DataFrames.